<h2>Import Questions</h2>

<%= form_tag import_questions_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>

<% unless @questions.count.zero? %>
<h2> All Questions </h2>
<table>
  <tr>
    <th>UID</th>
    <th>Question</th>
    <th>Tags</th>
  </tr>
  <% @questions.each do |question| %>
  <tr>
    <td><%= question.uid %></td>
    <td><%= question.title %></td>
    <td><%= "ruby, easy" %></td>
  </tr>
  <% end %>
</table>
<% end %>