<div class="row">
<%= simple_form_for(@quiz, html: {class: 'col s12', multipart: true}) do |f| %>

    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="large material-icons blue-grey-ic">info</i> Quiz Info</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="input-field col s4">
              <%= f.input :name, label: 'Name'%>
            </div>
            <div class="input-field col s4">
              <%= f.input :job_title, label: 'Job Title'%>
            </div>
            <div class="input-field col s4">
              <%= f.input :time_limit, label: 'Time Limit (in minutes)'%>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.input :introduction, as: :text, label: 'Introduction', input_html: {:class => "materialize-textarea" } %>
            </div>
            <div class="input-field col s6">
              <%= f.input :rules, as: :text, label: 'Rules', input_html: {:class => "materialize-textarea"} %>
            </div>
          </div>
        </div>
      </li>
      
      <li>
        <div class="collapsible-header"><i class="large material-icons blue-grey-ic">list</i> Questions Set</div>
        <div class="collapsible-body" id='question_sets'>
          <%= f.simple_fields_for :question_sets do |qs| %>
            <%= render 'question_set_fields', :f => qs %>
          <% end %>
          
          <div class="row">
            <%= link_to_add_association '<i class="large material-icons">add</i>'.html_safe, f, :question_sets,  :class => "btn-floating waves-effect waves-light green" %>
          </div>
        </div>
      </li>
    </ul>

    <div class="fixed-action-btn horizontal">
      <%= f.button :submit, :value => 'Save', :class=>'btn btn-success'%>
    </div>
<% end %>
</div>