<div class="row">
<%= simple_form_for(@quiz, html: {class: 'col s12', multipart: true}) do |f| %>

    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="large material-icons blue-grey-ic">info</i> Quiz Info</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="input-field col s4">
              <%= f.input :name, label: 'Name'%>
            </div>
            <div class="input-field col s4">
              <%= f.input :job_title, label: 'Job Title'%>
            </div>
            <div class="input-field col s4">
              <%= f.input :time_limit, label: 'Time Limit (in minutes)'%>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.input :introduction, as: :text, label: 'Introduction', input_html: {:class => "materialize-textarea" } %>
            </div>
            <div class="input-field col s6">
              <%= f.input :rules, as: :text, label: 'Rules', input_html: {:class => "materialize-textarea"} %>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="collapsible-header"><i class="large material-icons blue-grey-ic">list</i> Questions Set</div>
        <table class="collapsible-body table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">No. of Questions</th>
            <th scope="col">Tags</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <td></td>
            <td><b>Total Questions: </b></td>
            <td></td>
            <td>
              <a class="btn-floating waves-effect waves-light green"><i class="large material-icons">add</i></a>
            </td>
          </tr>
          </tfoot>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <div class="input-field">
                <input id="number_of_questions" type="text" class="validate">
                <label for="number_of_questions">No. of Questions</label>
              </div>
            </td>
            <td>
              <div class="input-field">
                <input id="tags" type="text" class="validate">
                <label for="tags">Add Tags here</label>
              </div>
            </td>
            <td>
              <a class="btn-floating waves-effect waves-light red"><i class="large material-icons">delete</i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </li
    </ul>
      <div class="fixed-action-btn horizontal">
        <%= f.button :submit, :value => 'Save', :class=>'btn btn-success'%>
      </div>
<% end %>
</div>