<% content_for :header do %>
    All Quizzes
<% end %>

<% @quizzes.in_groups_of(3) do |quizzes| %>
  <div class="row">
    <% quizzes.compact.each do |quiz| %>
      <div class="col s4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <h2 class="card-title"><%= quiz.name %></h2>
            <p><%= quiz.introduction %></p>
            <p><%= "Job: #{quiz.job_title}" %></p>
            <p><%= "Time: #{quiz.time_limit}" %></p>
          </div>
          <div class="card-action">
            <%= link_to 'Invite Candidates', '#', :class => 'invite_new_candidates', :data => {:toggle => "modal", :target => "#invite_candidates-form-container"} %>
            <%= link_to 'Quiz Candidates', quiz_quiz_candidates_path(quiz), :data => {:turbolinks => "false"} %>
            <%= link_to 'Manage Quiz', edit_quiz_path(quiz), :data => {:turbolinks => "false"} %>
          </div>
        </div>
      </div>
        <div id="invite_candidates-form-container" class="modal modal-fixed-footer">
          <%= render 'invite', quiz: quiz %>
        </div>
    <% end %>
  </div>
<% end %>
  
  <div class="fixed-action-btn horizontal">
    <%= link_to 'Create New Quiz', new_quiz_path, class: "btn waves-effect waves-light", :data => {:turbolinks => "false"}%>
  </div>
</div>

<script type="text/javascript">
//  $( document ).on('ready page:load', function() {
//    console.log("On");
////    $('#invite_candidates-form-container').modal();
//  });
//
//  document.addEventListener("turbolinks:load", function() {
//    console.log("addEventListener");
//    $('#invite_candidates-form-container').modal();
//  });

//  function <%#="invite_new_candidates"%>(path, dom, width, title) {
//    console.log("hi")
//
//    // Reset the current person data
//    // dom.data('person-id', '');
//    // dom.data('person-name', '');
//
//    // Open Add New Person Dialog
//    $.ajax({
//      type:'GET',
//      async:false,
//      url:path,
//      dataType:"html",
//      success:function (resp) {
//        dom.html(resp);
//        $(".modal-trigger")[0].click();
//      }
//    });
//    return false;
//  }

//  $(".invite_new_candidates").click(function () {
    <%#="invite_new_candidates"%>//("<%#= candidates_invite_path(:format => :modal)%>", $("#invite_candidates-form-container"), 755, "Invite New Candidates");
//    return false;
//  })

</script>