<% content_for :header do %>
    Quiz Candidates Status
<% end %>
<% unless @quiz_candidates.count.zero? %>
    <table class="table striped">
      <tr>
        <th><h6>Name</h6></th>
        <th><h6>Status</h6></th>
        <th><h6>Remarks</h6></th>
        <th><h6>Invited At</h6></th>
        <th></th>
        <th></th>
      </tr>
      <% @quiz_candidates.each do |qc| %>
      <tr>
        <td>
          <%= qc.candidate.user.first_name %> <br/>
          <small><span class="text-muted"><%= qc.candidate.user.email %></span></small><br/>
        </td>
        <td class="left">
          <%= display_status(qc.status) %>
        </td>
        <td>
          <%= qc.remarks %>
        </td>
        <td>
          <%= qc.created_at.strftime("%d-%m-%Y") %>
        </td>
        <td><%= link_to('Take Assessment', polymorphic_url([qc.quiz, qc], action: 'assessment', :secure => qc.secure_assessment_token)) %></td>
        <td><%= link_to('Review', quiz_quiz_candidate_path(qc.quiz_id, qc.id)) %></td>
      </tr>
      <% end %>
    </table>
<% else %>
    <div class="lead">
      No candidates invited yet.
    </div>
<% end %>