<% content_for :header do %>
    <%= @quiz_candidate.candidate.user.name %>'s Answers
<% end %>

<% if @quiz_candidate.candidate_questions.present? && @quiz_candidate.candidate_questions.answered.present? %>

  <%= simple_form_for(@candidate_questions_subjective.first, method: :post, url: submit_review_quiz_quiz_candidate_path) do |f| %>
    <%= hidden_field_tag(:page, params[:page]) %>
    <%= f.input :id, :as => :hidden, :input_html => { :value => f.object.id }%>
    <table class="table striped">
      <tr>
        <th><h6>Question</h6></th>
        <% if can? :manage, QuizCandidate  %>
            <th><h6>Remarks</h6></th>
            <th><h6>Mark</h6></th>
        <% end %>
      </tr>
      <% @candidate_questions_subjective.each_with_index do |candidate_question, index|
        question = candidate_question.question
      %>
          <tr>
            <td>
              <p class="lead">
                <%= question.title %>
              </p>
              <% if(question.body.present?) %>
                  <div class="row">
                    <div class="col m6">
                      <div class="card-panel">
                        <%= question.body.try(:html_safe) %>
                      </div>
                    </div>
                  </div>
              <% end %>

              <ul class="collection">
                <li class="collection-item">
                  <% if candidate_question.answer.present? %>
                      <span class="new badge blue" data-badge-caption="">Candidate Answer</span>
                      <%=  candidate_question.answer&.answer_body %>
                  <% end %>
                </li>
              </ul>

            </td>
            <% if can? :manage, QuizCandidate  %>
              <%= f.simple_fields_for :answer do |ans| %>
                <td>
                  <p class="left">
                    <%= ans.input :remarks, as: :text, label: false %>
                  </p>
                </td>
                <td>
                  <p class="left">
                    <%= ans.input :mark, as: :float, input_html: { min: 0, max: 1, step: 0.5 }, label: false %>
                  </p>
                </td>
              <%	end %>
            <% end %>
          </tr>
      <% end %>
      <tfoot>
      <div class="fixed-action-btn horizontal">
        <%= f.button :submit, 'Submit Review', class: "btn waves-effect waves-light" %>
        <%  if @review_done == true %>
            <%= f.button :submit, name: "complete_review",value: "Complete Review", data: {confirm: "Are you sure to Complete Review?"}, class: "btn waves-effect waves-light" %>
        <% end %>
      </div>
      </tfoot>
    </table>
  <% end %>

  <div class="pagination">
    <%= paginate @candidate_questions_subjective, outer_window: 3 %>
  </div>


<% elsif @quiz_candidate.started? %>
    <div class="lead">
      <%= @quiz_candidate.candidate.name %>'s Quiz answers is not yet available.
    </div>
<% else %>
    <div class="lead">
      <%= @quiz_candidate.candidate.name %>'s Quiz is yet to be prepared.
    </div>
<% end %>