<% content_for :header do %>
    <%= @quiz_candidate.candidate.user.name %>'s Answers
    <!--<p class="lead">-->
      <!--Total Mark's-->
      <!--(<%#= @candidate_answers.map(&:answer).inject(0) {|mark, ans| ans.mark + mark } %>/<%#= @quiz_candidate.candidate_questions.count %>)-->
    <!--</p>-->
<% end %>

<% if @quiz_candidate.candidate_questions.present? && @quiz_candidate.candidate_questions.answered.present? %>

    <table class="table striped">
      <tr>
        <th><h6>S.No.</h6></th>
        <th><h6>Question</h6></th>
      </tr>
      <% @candidate_answers.each_with_index do |candidate_question, index|
          question = candidate_question.question
          marked_option = candidate_question.answer&.option
      %>
          <tr>
            <td><%= index+1 %></td>
            <td>
              <p class="lead">
                <%= question.title %>
              </p>
              <% if(question.body.present?) %>
                  <div class="row">
                    <div class="col m6">
                      <div class="card-panel">
                        <%= question.body.try(:html_safe) %>
                      </div>
                    </div>
                  </div>
              <% end %>
              <% if question.options.any? %>
                <ul class="collection">
                  <% question.options.each { |opt| %>
                    <li class="collection-item">
                      <% if opt.is_correct %>
                          <span class="new badge green" data-badge-caption="">Correct Answer</span>
                      <% end %>
                      <% if(marked_option.present? && opt.id == marked_option.id) %>
                          <span class="new badge blue" data-badge-caption="">Candidate Marked</span>
                      <% end %>
                      <%=opt.body.try(:html_safe)%>
                    </li>
                  <% } %>
                </ul>
                <span class="badge"><%=  candidate_question.answer&.mark %> Mark</span>
              <% else %>
                  <ul class="collection">
                    <li class="collection-item">
                      <% if candidate_question.answer.present? %>
                        <span class="new badge blue" data-badge-caption="">Candidate Answer</span>
                        <%=  candidate_question.answer&.answer_body %>
                      <% end %>
                    </li>
                  </ul>
                  <span class="badge"><%=  candidate_question.answer&.mark || 'No' %> Mark</span>
              <% end %>

            </td>
          </tr>
      <% end %>
    </table>



<% elsif @quiz_candidate.started? %>
  <div class="lead">
    <%= @quiz_candidate.candidate.name %>'s Quiz answers is not yet available.
  </div>
<% else %>
  <div class="lead">
    <%= @quiz_candidate.candidate.name %>'s Quiz is yet to be prepared.
  </div>
<% end %>