<p>Dear <%= "#{@notifier_candidate.name}" %></p>

<p>You have done well so far. As the next step, you are receiving this email to take up the technical test.
  This test take about <%= "#{@quiz_candidate.quiz.time_limit}" %> mins.
  Please use your email-id(<%= "#{@notifier_candidate.email}" %>) as your username and <%= "#{@password}" %> as the password.
  You may access the test by logging in to <%= link_to "COTA", "#{@quiz_candidate.secure_assessment_url}" %>.</p>

<p>
  Thank you,
</p>
<p>
  ClearStack, Inc
</p>