<!DOCTYPE html>
<html>
<head>
  <title>Cota</title>
  <%= favicon_link_tag asset_path('clearstack-favicon.png') %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>

<div class="container-fluid">
	<%= render 'layouts/navbar' %>

  <div class="nav-wrapper">
    <div class="col s12">
      <%= raw @render_breadcrumb %>
    </div>
  </div>

<h3><%= content_for?(:header) ? yield(:header) : "Dashboard" %></h3>

<div>
	<% if flash[:notice] %>
		<div class="alert alert-success"><%= notice.html_safe %></div>
	<% end %>
	<% if flash[:alert] %>
		<div class="alert alert-danger"><%= alert.html_safe %></div>
	<% end %>
	<% if flash[:message] %>
		<div class="alert alert-info"><%= flash[:message].html_safe %></div>
	<% end %>
</div>

<%= yield %>
</div>
</body>
</html>
